<div class="page-header">
    <h1>Game Panel //@todo edit title</h1>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">{{nbRound}}</h3>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th ng-repeat="player in Game.players">{{player.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="round in Game.rounds">
                <td></td>
            </tr>
        </tbody>
    </table>
</div>